<!-- views/partials/header.ejs -->
 <div class="container-fluid" >
<div class="col-md-12">
<img src="img/practable.svg" alt="Microscope with wifi symbol; Practable logo" style="width:100%">
</div>
</div>

<!--
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            Guest
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
-->
</div>
</nav>