<!-- views/pages/index.ejs -->
<!-- https://scotch.io/tutorials/use-ejs-to-template-your-node-application-->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>


  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="scripts/mdbootstrap/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="scripts/mdbootstrap/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="scripts/mdbootstrap/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="scripts/mdbootstrap/js/mdb.min.js"></script>
  <script type="text/javascript" src="js/app.bundle.js"></script>
<!-- Grid row -->
<div class="row">

  <div class="col-md-12" style="height:40px"></div>

  <!-- Grid column -->
  <div class="col-md-12 d-flex justify-content-center mb-5">

    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Simulations</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Remote Labs</button>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    <a href="https://openpracticalwork.org/videosecure">
      <img class="img-fluid" src="img/pendulum.jpg" alt="Card image cap">
    </a>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->

  <div class="mb-3 pics animation all 1">
    <!--img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap"-->
    <a href="https://edlab1.eng.ed.ac.uk/solarpanel">
      <img class="img-fluid" src="img/solar.jpg" alt="Card image cap">
    </a>

</div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
        <a href="https://edlab1.eng.ed.ac.uk/fdtd">
      <img class="img-fluid" src="img/fdtd.jpg" alt="Card image cap">
    </a>
  </div>
  <!-- Grid column -->



</div>
<!-- Grid row -->




</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
